* {
    margin: 0;
    padding: 0;
}

header {
    top: 0;
    width: 100vw;
    height: 60px;
    z-index: 1000;
    background-color: rgb(131, 60, 60);

}

header p {
    display: inline-block;
    font-size: 2vw;
    color: white;
    padding: 5px;
}

#image {
    width: 100vw;
}

#Logo {
    width: 15vw;
    padding: 5px;
}

#pag {
    margin-left: 60px;
}